/* General body styles */

section {
  background-color: rgb(15, 30, 48); /* Dark background color */
  padding: 20px; /* Add padding inside the section */
  border-radius: 8px; /* Rounded corners */
  margin: 20px 0; /* Margin above and below each section */
  border-right: 3px solid #00ffff; /* Right border color */
  border-left: 3px solid #00ffff; /* Left border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
  color: white; /* White text color */
}

body, html {
  background-color: rgba(6, 11, 22, 0.937); /* Dark background color */
  color: white; /* White text color */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: visible;
  
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */

  font-family: 'Arial', sans-serif; /* Set a default font family */
  font-size: 16px; /* Set a default font size */
  line-height: 1.5; /* Set a default line height for better readability */
  
  height: 100%; /* Ensure the body and html take full height */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  
  -webkit-font-smoothing: antialiased; /* Improve font rendering on webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering on Firefox */
  
  scroll-behavior: smooth; /* Enable smooth scrolling */
  text-rendering: optimizeLegibility; /* Improve text rendering */
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  mix-blend-mode: difference;
  z-index: 9999;
  transform: translate(-50%, -50%);
  overflow: visible;
}

.custom-cursor::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 255, 0.8);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.custom-cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 0, 255, 0.8) 20%, rgba(0, 0, 255, 0) 80%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: sparkle 0.7s infinite alternate;
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
}

@keyframes sparkle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/* Gradient text effect */
.gradient-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-300 text-transparent;
}

/* Custom font size and line height */
.c_text {
  font-size: 12px;
  line-height: 1.25rem;
}

/* Content width and max-width */
.section-content {
  width: 80%;
  max-width: 800px;
}

/* This is for the Hello vaibhav Part */
.heading {
  font-family: 'Courier New', Courier, monospace;
  color: #eefdfd;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #00ffff;
  animation: typing 7s steps(40, end), blink-caret 0.75s infinite;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ffff; }
}

/* Styling for h2 headers */
h2 {
  margin-bottom: 1rem;
}

/* Underline effect for headers */
.underline-header {
  background: linear-gradient(90deg, #e8f3f3, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Custom font family */
.custom-font {
  font-family: 'Roboto', sans-serif;
}

/* Text shadow effect */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

/* Icon styles */
.custom-icon {
  background-color: #070530;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid #e0e0e0;
}

.custom-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #b0b0b0;
}

/* Alternative icon style */
.custom-icon-1 {
  background-color: #77bbe2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid #e0e0e0;
}

.custom-icon-1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #b0b0b0;
}

/* Container for main content */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer styles */
footer {
  background-color: #5bcede;
  color: rgb(255, 255, 255);
}

/* Underline effect for headers */
.underline-header {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
}

/* Skill item styles */
.skill-item {
  font-weight: bold;
  position: relative;
  padding-left: 2rem;
}

.skill-item::before {
  content: '';
  width: 1.5em;
  height: 1.5em;
  background: linear-gradient(to top, #00f, #0ff);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Button styles */
.buttons button:first-of-type {
  background: linear-gradient(to top, #007bff, #00c6ff);
}

.buttons button:first-of-type:hover {
  background: linear-gradient(to top, #0056b3, #0093d6);
}

.buttons button:last-of-type {
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;
}

.buttons button:last-of-type:hover {
  background: #007bff;
  color: #fff;
}

/* Custom carousel container */
.custom-carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Next section */
.next-section {
  margin-top: 0;
}

/* Glow effect */
.glow-effect {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin: 10px;
  margin-bottom: 0;
}

.glow-effect img {
  display: block;
  margin: 0 auto;
}

.glow-effect h3 {
  color: black;
  margin-bottom: 10px;
}

.glow-effect p {
  color: #333;
  margin-bottom: 10px;
  text-align: justify;
}

.glow-effect a {
  color: #1d4ed8;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  margin-top: 10px;
}

.glow-effect a:hover {
  text-decoration: underline;
}

/* Glow button */
.glow-button {
  background-color: #d9dff0;
  color: #081018;
  border: 2px solid #abb0b4;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
}

.glow-button a {
  color: #081018;
  text-decoration: none;
}

.glow-button:hover {
  background-color: #2563eb;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.glow-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 78, 216, 0.5);
}

/* Slick slider */
.slick-slider .slick-prev,
.slick-slider .slick-next {
  font-size: 24px;
  color: #081018;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before {
  content: '\f053';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.slick-next:before {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.slick-prev:hover, .slick-next:hover {
  background: #081018;
  color: #d9dff0;
  transform: scale(1.1);
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev, .slick-next {
  font-size: 24px;
  color: #000;
}

/* Banner styles */
.banner {
  width: 100%;
}

.banner .relative img {
  width: 100%;
}

